@using TaskProject.Domain.Product
@model ProductDetailVM
@{
    ViewData["Title"] = "Edit Propduct";
}

<form id="productForm" data-ajax="true" data-ajax-method="post" data-ajax-success="onSuccess"
      data-ajax-failure="onFailure" enctype="multipart/form-data" asp-action="Edit" asp-controller="Product">

    <input type="hidden" value="@Model.ProductID" name="Id" />
    <input type="hidden" value="@Model.ProductID" name="ProductID" />
    <div class="modal-header">
        <h5>Edit New Product</h5>
    </div>
    <div class="modal-body">
        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="CategoryID" class="form-label">Category</label>
                <select asp-for="Category_ID" name="Category_ID" class="form-control">
                    <option value="">--Select Category--</option>
                    @if (ViewBag.CategoryDropdown != null)
                    {
                        foreach (var item in ViewBag.CategoryDropdown)
                        {
                            <option value="@item.ID">@item.Name</option>
                        }
                    }
                </select>
                <span class="text-danger" asp-validation-for="Category_ID"></span>
            </div>
            <div class="col-md-6 mb-3">
                <label for="ProductName" class="form-label">Product Name</label>
                <input asp-for="ProductName" class="form-control" id="ProductName" name="ProductName" placeholder="Product Name" />
                <span class="text-danger" asp-validation-for="ProductName"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="SKU" class="form-label">Product SKU</label>
                <input asp-for="SKU" class="form-control" id="SKU" name="SKU" placeholder="Product SKU" />
                <span class="text-danger" asp-validation-for="SKU"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label for="Price" class="form-label">Product Price</label>
                <input asp-for="Price" class="form-control" id="Price" name="Price" placeholder="Product Price" />
                <span class="text-danger" asp-validation-for="Price"></span>
            </div>
        </div>

        <div class="row">
            <div class="col-md-6 mb-3">
                <label for="StockQuantity" class="form-label">Open Quantity</label>
                <input asp-for="StockQuantity" class="form-control" id="StockQuantity" name="StockQuantity" placeholder="Open Quantity" />
                <span class="text-danger" asp-validation-for="StockQuantity"></span>
            </div>

            <div class="col-md-6 mb-3">
                <label for="IsActive" class="form-label">Status</label>
                <select class="form-select" id="IsActive" name="IsActive" asp-for="IsActive">
                    <option value="true">Active</option>
                    <option value="false">Inactive</option>
                </select>
                <span class="text-danger" asp-validation-for="IsActive"></span>
            </div>
        </div>
        <div class="row">
            <div class="col-md-12 mb-3">
                <label for="fromFiles" class="form-label">Category Icon (Image Upload)</label>
                <input asp-for="fromFiles" type="file" class="form-control" id="fromFiles" name="fromFiles" accept="image/*" multiple onchange="previewImages(event)" />
                <span class="text-danger" asp-validation-for="fromFiles"></span>
            </div>
        </div>
        <div class="col-md-12 mb-3">
            <label class="form-label">Product Images (Click on image to delete)</label>
            <div id="productImagesContainer" class="row">
                @if (Model.Images != null && Model.Images.Any())
                {
                    @foreach (var image in Model.Images.Where(x => x.ImageStatus == 1))
                    {
                        <div class="col-sm-6 col-md-3 mb-3">
                            <div class="image-preview text-center" id="@image.ImageId">
                                <img src="@Url.Content(image.ImagePath)" alt="Product Image" class="img-fluid img-thumbnail" style="max-width: 100%;" onclick="deleteImage('@image.ImageId')" />
                                <p>@image.FileName</p>
                            </div>
                        </div>
                    }
                }
                else
                {
                    <p>No images available.</p>
                }
            </div>
        </div>

        <div class="col-md-12 mb-3">
            <label class="form-label">Image Previews</label>
            <div id="productImagesContainer" class="row">
            </div>
        </div>
    </div>
    <div class="modal-footer">
        <button type="submit" class="btn btn-primary"><i class="fa fa-save"></i> Save</button>
        <a class="btn btn-outline-dark" href="@Url.Action("List","Product")">
            <i class="fa fa-home"></i> Back
        </a>
    </div>
</form>

@section scripts {

    <script>
        $('#productForm').submit(function (e) {
            e.preventDefault();
            var form = $(this)[0];
            var formData = new FormData(form);

            if ($(form).valid()) {
                $.ajax({
                    url: $(this).attr('action'),
                    type: 'POST',
                    data: formData,
                    processData: false,
                    contentType: false,
                    success: function (response) {
                        if (response.success) {
                            alert(response.message);
                        } else if (!response.success) {
                            alert("Error: " + response.message);
                        }
                    },
                    error: function (xhr, status, error) {
                        console.error("AJAX Error:", error);
                        alert("An error occurred while submitting the form. Please try again.");
                    }
                });
            }
        });

        function previewImages(event) {
            var files = event.target.files;
            var container = document.getElementById("productImagesContainer");
            container.innerHTML = "";
            for (let i = 0; i < files.length; i++) {
                var reader = new FileReader();
                reader.onload = function (e) {
                    var imageElement = document.createElement("div");
                    imageElement.classList.add("col-sm-6", "col-md-3", "mb-3");

                    imageElement.innerHTML = `
                                       <div class="image-preview text-center">
                                                                    <img src="${e.target.result}" alt="Product Image" class="img-fluid img-thumbnail" style="max-width: 100%;" />
                                                                    <p>${files[i].name}</p>  <!-- Correctly reference the image name -->
                                                                </div>
                                                            `;
                    container.appendChild(imageElement);
                };
                reader.readAsDataURL(files[i]);
            }
        }

        function deleteImage(Id) {
            if (confirm('Are you sure you want to delete this image?')) {
                deleteImageFromFolder(Id);
            }
        }

        function deleteImageFromFolder(id) {
            $.ajax({
                type: 'POST',
                dataType: 'JSON',
                url: '/Product/DeleteImage',
                data: { ImageId: id },
                success: function (response) {
                    if (response == "Success") {
                        alert("Image deleted successfully");
                        deleteImageFromDiv(id);
                    }
                    else {
                        alert("Error while deleting data");
                    }
                },
                error: function () {
                    alert("Error while deleting data");
                }
            });
        }

        function deleteImageFromDiv(id) {
            var divToRemove = document.getElementById(id);
            if (divToRemove) {
                divToRemove.remove();
            } else {
                console.log("Image div with ID " + id + " not found.");
            }
        }
    </script>
}
